<div class="sideContent">
  <div>
    <header>
      <h1>About</h1>
    </header>
  </div>
  <div>
    <p>
      I design and build web and mobile experiences that solve problems in people’s lives.
    </p>
    <p>
      I enjoy both design and development, equally comfortable at sketching out user journeys as writing JavaScript.
    </p>
    <p>
      Here are some more details about what I do:
    </p>
  </div>
  <ul class="buttonGroup">
    <li>
      <a class="button--sidebar button--active" href="https://twitter.com/tomalterman">User Experience</a>
    </li>
    <li>
      <a class="button--sidebar" href="https://github.com/tomalterman">Product Management</a>
    </li>
    <li>
      <a class="button--sidebar" href="http://uk.linkedin.com/in/tomalterman">Frontend development</a>
    </li>
  </ul>
</div>
