<header class="pane--nav nav">
  <a href="/" class="logo header--name">Tom Alterman</a>
  <ul class="list--inline">
    <li class="{% if page.pageClass == 'about' %} isActive {% endif %}">
      <a class="button" href="/pages/about-ux.html">About</a>
    </li>
    <li class="{% if page.pageClass == 'work' %} isActive {% endif %}">
      <a class="button" href="/pages/work-tr.html">Work</a>
    </li>
    <li class="{% if page.pageClass == 'talks' %} isActive {% endif %}">
      <a class="button" href="/pages/talks-fel.html">Talks</a>
    </li>
    <li class="{% if page.pageClass == 'contact' %} isActive {% endif %}">
      <a class="button" href="/contact.html">Contact</a>
    </li>
  </ul>
</header>
