<div class="sideContent">
  <div>
    <header>
      <h1>Talks</h1>
    </header>
  </div>
  <div>
    <p>
      Here are a selection of the public talks I have given on the subjects of design, web development and other skills.
    </p>
    <p>
      I also teach professionals looking to enter the tech industry at General Assembly, mostly on the subject of UX.
    </p>
    <p>
      If you would like me to speak at your event, <a href="mailto:hello@tomalterman.com">get in touch</a>. I'd love to.
    </p>
  </div>
  <ul class="buttonGroup">
    <li>
      <a class="button--sidebar button--active" href="/pages/talks-dnb.html">Design and Banter</a>
    </li>
    <li>
      <a class="button--sidebar" href="/pages/talks-lws.html">London Web Standards</a>
    </li>
    <li>
      <a class="button--sidebar" href="/pages/talks-utw.html">Untangle the Web</a>
    </li>
  </ul>
</div>
