<div class="sideContent">
  <div>
    <header>
      <h1>Talks</h1>
    </header>
  </div>
  <div class="{% if page.article != 1 %} u-hidden u-lg--block {% endif %}">
    <p>
      Here is a selection of the public talks I have given. I also teach professionals looking to enter the tech industry at <a href="https://generalassemb.ly/instructors/tom-alterman/1169">General Assembly</a>.
    </p>
    <p>
      If you would like me to speak at your event, <a href="mailto:thomas.alterman+hello@gmail.com">get in touch</a>. I'd love to.
    </p>
  </div>
  <ul class="buttonGroup">
    <li>
      <a class="button--sidebar {% if page.article == 1 %} button--active {% endif %}" href="/pages/talks-dnb.html">Design and Banter</a>
    </li>
    <li>
      <a class="button--sidebar {% if page.article == 2 %} button--active {% endif %}" href="/pages/talks-lws.html">London Web Standards</a>
    </li>
    <li>
      <a class="button--sidebar {% if page.article == 3 %} button--active {% endif %}" href="/pages/talks-utw.html">Untangle the Web</a>
    </li>
  </ul>
</div>
