<div class="sideContent">
  <div>
    <header>
      <h1>Work</h1>
    </header>
  </div>
  <div class="{% if page.article != 1 %} u-hidden u-lg--block {% endif %}">
    <p>
      Here are some examples of projects I’ve worked on.
    </p>
    <p>
      Most of my work I cannot show in public. If you'd like to see my private portfolio, <a href="mailto:thomas.alterman+hello@gmail.com">get in touch</a>.
    </p>
  </div>
  <ul class="buttonGroup">
    <li>
      <a class="button--sidebar {% if page.article == 1 %} button--active {% endif %}" href="/pages/work-tr.html"> TrialReach</a>
    </li>
    <li>
      <a class="button--sidebar {% if page.article == 2 %} button--active {% endif %}" href="/pages/work-bnt.html">BraveNewTalent</a>
    </li>
    <li>
      <a class="button--sidebar {% if page.article == 3 %} button--active {% endif %}" href="/pages/work-gov.html">UK Government Department</a>
    </li>
  </ul>
</div>
