<div class="sideContent">
  <div>
    <header>
      <h1>Work</h1>
    </header>
  </div>
  <div>
    <p>
      Here are some examples of projects I’ve worked on.
    </p>
    <p>
    Most of my work I cannot show in public. If you'd like to see my private portfolio, <a href="mailto:hello@tomalterman.com">get in touch</a>.
    </p>
  </div>
  <ul class="buttonGroup">
    <li>
      <a class="button--sidebar button--active" href="https://twitter.com/tomalterman">TrialReach</a>
    </li>
    <li>
      <a class="button--sidebar" href="https://github.com/tomalterman">BraveNewTalent</a>
    </li>
    <li>
      <a class="button--sidebar" href="http://uk.linkedin.com/in/tomalterman">UK Government Department</a>
    </li>
  </ul>
</div>
