// ----------------------------------
//
// Layout styles
//
// ----------------------------------


// ----------------------------------
//
// Pane provides split view layout
//
// ----------------------------------

.pane--nav
  position: absolute
  top: 0
  z-index: 2

.pane
  min-height: $min-height
  z-index: 1

  +media($desk)
    height: 100%
    position: absolute
    top: 0

.pane--one
  background-color: $blue-pale

  +media($desk)
    width: 24em

.pane--two
  +media($desk)
    left: auto
    right: 0
    width: calc(100% - 24em)

.pane-inner
  +rem(padding-top, $mega)
  +rem(padding-bottom, $big)
  box-sizing: border-box
  height: 100%
  overflow-x: hidden
  overflow-y: auto
  -webkit-overflow-scrolling: touch
  width: 100%

.pane-inner--main
  height: auto
  +rem(padding-top, $huge)

  +media($desk)
    +rem(padding-top, $vmega)
    overflow-y: auto
    height: 100%

// ----------------------------------
//
// Centre provides centred layout
//
// ----------------------------------

.centre
  display: flex
  align-items: center
  justify-content: center

// ----------------------------------
//
// Equal distance layout
//
// ----------------------------------

.equal
  width:100%
  display: table

  ul
    display: table-row
    list-style: none

    li
      display: table-cell
      text-align: center

// ----------------------------------
//
// Content layout
//
// ----------------------------------

.textContent
  +rem(padding-left, $huge)
  +rem(padding-right, $huge)
