.nav
  width: 100%
  +rem(font-size, 13px)

  +media($not-tiny)
    +rem(font-size, $normal)

  .logo
    float: left
    color: $black
    text-decoration: none
    +rem(padding, $tiny)
    +rem(margin, $small $normal)
    margin-right: 0

  .button
    display: inline-block
    border-width: 0

  .isActive
    display:none

    +media($not-tiny)
      display: inline-block
      .button
        border-bottom-width: 1px


  > ul
    float: right
    +rem(padding, $small $normal)
    padding-left: 0

    +media($desk)
      width: calc(100% - 24em)
      text-align: right
      background-color: $grey-light
      background: linear-gradient(to bottom, rgba(255,255,255,1) 1%,rgba(255,255,255,1) 90%,rgba(255,255,255,0) 100%)
