body
  font:120%/1.5 'Trykker', serif
  -webkit-font-smoothing: antialiased

h1
  font-family: 'Voltaire', sans-serif

.fa
  span
    +accessibility

.list--secret
  list-style: none

.list--inline
  > li
    display: inline
