body
  font-size: 100%
  color: $black
  background-color: $white
  line-height: 1.5
  font-family: 'Trykker', serif
  -webkit-font-smoothing: antialiased

  +media($not-palm)
    font-size: 120%

h1, h2
  font-family: $font-headers

h1
  +rem(font-size, $vhuge)

h2
  +rem(font-size, $vbigger)

.fa
  span
    +accessibility

.list--secret
  list-style: none

.list--inline
  > li
    display: inline

p
  +rem(margin-bottom, $normal)

a
  color: $blue-black

  &:hover, &:focus, &:active
    opacity: 0.5

.ul
  +rem(margin-left, $bigger)
  +rem(margin-bottom, $normal)

//To refactor
.header--name
  text-transform: uppercase
  font-weight: 700
  border-bottom: 1px solid black
  display: inline-block
  font-family: $font-headers

.header--home

  h1
    font-size: 44px

  p
    font-family: $font-headers
    letter-spacing: 1px
    font-style: italic
    font-size: 17px

.header-skills
  +rem(padding-bottom, $normal)
  border-bottom: 1px solid $black

.u-margin--none
  margin-bottom: 0

.buttonGroup--home
  list-style: none
  width: 100%
  text-align: center

  +media($not-palm)
    width: auto

  > li
    +media($not-palm)
      display: inline-block
      margin-left: $bigger

    &:first-child
      margin-left: 0

    +media($desk)
      display: block
      margin-left: 0

.buttonGroup
  list-style: none

  > li
    +rem(margin-bottom, $vsmall)

    +media($not-palm)
      display: inline-block

    +media($desk)
      display: block

.button
  font-family: $font-headers
  border: 2px solid black
  +rem(padding, $tiny)
  display: block
  text-decoration: none
  color: $black

  +media($not-palm)
    +rem(padding, $tiny $normal)

  &:hover, &:focus, &:active
    background-color: $black
    color: $white

.button--active
  background-color: $black
  color: $white
  opacity: 0.7

.button--sidebar
  @extend .button
  position: relative
  +rem(padding-right, $vbig)

  &:after
    content: ""
    font-family: FontAwesome
    display: block
    position: absolute
    +rem(right, $vsmall)
    +rem(top, -4px)
    +rem(font-size, $bigger)

.button--next
  @extend .button--sidebar
  float: right
  +rem(margin-top, $normal)

  span
    font-size: 0.8em
    margin-right: 0.5em

.button--previous
  @extend .button--next
  float: left

.button--home
  @extend .button
  +rem(padding, $small $vhuge)
  +rem(font-size, $bigger)
  margin-bottom: $bigger

  &:hover, &:focus, &:active
    color: $black


.button--salmon
  border-color: $salmon
  background-color: $salmon

  &:hover, &:focus, &:active
    background-color: $salmon

.button--tan
  border-color: $tan
  background-color: $tan

  &:hover, &:focus, &:active
    background-color: $tan

.button--greeny
  border-color: $greeny
  background-color: $greeny

  &:hover, &:focus, &:active
    background-color: $greeny

.sideContent
  max-width: 38em
  +rem(padding, 0 $huge)

.contacts
  +rem(font-size, 44px)
  max-width: 10em
  margin: 0 auto

  a
    color: $black

.contacts--list
  @extend .sideContent
  width: 100%
  list-style: none

  +media($desk)
    +rem(font-size, $vbig)
    width: auto

  > li
    +rem(margin-bottom, $normal)

  a
    text-decoration: none

  .fa
    +rem(margin-right, $small)
