// ----------------------------------
//
// Page specific styles
//
// ----------------------------------

.home
  .pane--one,
  .pane--two
    +media($desk)
      width: 50%

.about
  .pane--one
    background-color: $salmon

.talks
  .pane--one
    background-color: $tan

.work
  .pane--one
    background-color: $greeny
