html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  box-sizing: border-box;
  position: relative; }

html {
  zoom: 1;
  *display: inline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input[type="text"], input[type="number"], input[type="email"], input[type="password"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0; }

input, select {
  vertical-align: middle; }

input, textarea {
  box-sizing: border-box; }

ul, ol {
  padding-left: 0; }

img {
  max-width: 100%;
  vertical-align: middle; }

html, body, .outer, .inner {
  height: 100%; }

html {
  overflow: hidden; }

body {
  min-height: 100%;
  overflow: hidden; }

.inner {
  min-height: 300px; }

.pane {
  height: 50%;
  min-height: 300px; }
  @media (min-width:1024px) {
    .pane {
      height: 100%;
      margin-right: -1px;
      padding-right: 1px;
      position: absolute;
      top: 0;
      width: 50%; } }

@media (min-width:1024px) {
  .pane--one {
    background-color: blue; } }

@media (min-width:1024px) {
  .pane--two {
    left: auto;
    right: 0;
    background-color: red; } }

.pane-inner {
  box-sizing: border-box;
  height: 100%;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  width: 100%; }

.pane-inner--main {
  height: auto;
  padding: 20px;
  padding: 1rem; }
  @media (min-width:1024px) {
    .pane-inner--main {
      overflow-y: auto;
      height: 100%; } }
